# editor files
.vscode/
.idea/

# virtual env files
venv/

# tensorflow logs
logs/

# test file
test.py

# dataset for practice
MNIST_data/

# variables saving by tensorflow
my_net/

# binary python files
*.pyc